@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header{
    align-items: center;
    justify-content: center;
    display:flex;
}

div.p{

}

main {
    align-items: center;
    justify-content: center;
    display:flex;
}

input[type=date]{
    margin-left: 15px;
}

input[type=radio]#male-gender{
    margin-left: 75px;
}

input[type=radio]#female-gender{
    margin-left: 58px;
}